
@{
    ViewBag.Title = "Singer";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<a href="@Url.Action("ListSinger")" class="btn btn-sm btn-info" style="background-color:#4e73df;font-size:20px;float:left;">
    <i class="fa fa-arrow-left"></i>
</a>
<section class="panel" style="margin-top:55px;">
    <header class="panel-heading">
        Create Singer
    </header>
    <form action="@Url.Action("CreateSinger")" method="POST" enctype="multipart/form-data">
        <div class="panel-body">
            <div class="position-center">
                <div class="form-group">
                    <label for="">Singer Name:</label>
                    <input type="text" class="form-control" name="UserName" maxlength="200" required>
                </div>
                <div class="form-group">
                    <label for="">Gender:</label>
                    <input type="hidden" name="UserGender" value="True" id="gender" />
                    <fieldset id="selectGender">
                        <label style="margin-right:15px;"><input type="radio" value="True" name="groupGender" checked>Nữ</label>
                        <label><input type="radio" value="False" name="groupGender">Nam</label>
                    </fieldset>
                </div>
                <div class="form-group">
                    <label for="">DOB:</label>
                    <input type="date" name="UserDOB" value="" />
                </div>
                <div class="form-group">
                    <label for="">Description:</label><br />
                    <textarea name="UserDescription" style="height:200px;width:600px;"></textarea>
                </div>
                <div class="form-group">
                    <label for="">Image:</label><br />
                    <div id="frameImg">
                        <img src="#" id="showImg" style="width:300px;height:250px;"/>
                    </div>
                    <input type="file" name="imgUser" value="" id="selectImg"/>
                </div>
                <button type="submit" name="submit" class="btn btn-info">Submit</button>
            </div>
        </div>
    </form>
</section>

@section scripts{

    <script>
        $(function () {
            $('#selectGender>label>input').click(function () {
                $('#gender').val($(this).val());
            })
            $('#selectImg').change(function (event) {
                var tmppath = URL.createObjectURL(event.target.files[0]);
                $('#showImg').fadeIn("fast").attr("src", tmppath);
            })
        });


    </script>



}

